<form action="/articles" method="POST">
    <label for="articleTitle">Title</label>
    <input type="text" name="articleTitle">
    <label for="articleBody">Content</label>
    <input type="text" name="articleContent">
    <input type="submit" value="SUBMIT">
</form>

<br><br>

<a href="/articles">BACK TO ARTICLE LIST</a>